{% extends "movie_app/base.html" %}

{% block title %}
    Все фильмы
{% endblock title %}

{% block content %}
    <h2>Список всех фильмов</h2>
    <ul>
       {% for movie in movies %}
           <li><a href="{{ movie.get_url }}">{{ movie.name }}</a></li>
        {% endfor %}
    </ul>
    <h3>Количество фильмов - {{ total_cnt }}</h3>
    <h3>Средний бюджет - {{ agr.budget__avg }}</h3>
    <h3>Минимальный рейтинг - {{ agr.rating__min }} </h3>
    <h3>Максимальный рейтинг - {{ agr.rating__max }} </h3>

{% endblock content %}